/*MEDIA QUERIES:MIN====================*/
@media (min-width: 576px) {
  .visible-mobile-sm {
    display: none !important;
  }
  .visible-mobile-sm:first-child + *:not(:first-child) {
    margin-top: 0 !important;
  }

  :root {
    --container-xl: 1280px;
    --container-lg: 1160px;
    --container-md: 850px;
    --container-sm: 667px;
  }

  /*GENERAL*/
  .container.xl {
    max-width: calc(var(--container-xl) + var(--spacing-container) * 2);
  }
  .container.lg {
    max-width: calc(var(--container-lg) + var(--spacing-container) * 2);
  }
  .container.md {
    max-width: calc(var(--container-md) + var(--spacing-container) * 2);
  }
  .container.sm {
    max-width: calc(var(--container-sm) + var(--spacing-container) * 2);
  }
  .container.half {
    max-width: 50vw;
  }

  *[block-width] {
    margin-left: auto;
    margin-right: auto;
  }
  *[block-width="xl"] {
    max-width: var(--container-xl);
  }
  *[block-width="lg"] {
    max-width: var(--container-lg);
  }
  *[block-width="md"] {
    max-width: var(--container-md);
  }
  *[block-width="sm"] {
    max-width: var(--container-sm);
  }
  *[block-width="half"] {
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
  .visible-mobile:first-child + *:not(:first-child) {
    margin-top: 0 !important;
  }
}

@media (min-width: 992px) {
  .visible-device-sm {
    display: none !important;
  }
  .visible-device-sm:first-child + *:not(:first-child) {
    margin-top: 0 !important;
  }

  .f-left {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
  .f-right {
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  /* FORM */
  .field.half {
    width: calc(50% - var(--spacing-sm) / 2);
  }

  /* FOOTER */
  .footer-legal > .policy {
    margin-left: auto;
    justify-content: flex-end;
  }

  /* SECTION */
  #main:after {
    content: "";
    display: block;
    width: var(--ci-background);
    height: var(--lvh-fallback);
    background-image: url(../img/design/ci-background-bottom.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left bottom;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .sc-columns {
    --cover-width: 41.2068965517%;
    --content-width: 50%;
    justify-content: space-between;
  }
  .sc-columns > .sc-column.cover {
    width: var(--cover-width);
  }
  .sc-columns > .sc-column.content {
    width: var(--content-width);
  }
  .sc-columns > .sc-column.content > * {
    width: 77.5862068966%;
    margin-left: auto;
    margin-right: auto;
  }
  .sc-columns > .sc-column.v-middle {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .visible-device {
    display: none !important;
  }
  .visible-device:first-child + *:not(:first-child) {
    margin-top: 0 !important;
  }

  /* HEADER */
  .header-menu .panel {
    width: 300px;
    transform: translateX(100%);
  }
  html.header-menu-enabled .header-menu .panel {
    transform: translateX(0);
  }
  .header-menu .tools {
    font-size: var(--font-size-xl);
  }
}

/*MEDIA QUERIES:MAX====================*/
@media (max-width: 1199px) {
  .hidden-device {
    display: none !important;
  }
  .hidden-device:first-child + *:not(:first-child) {
    margin-top: 0 !important;
  }
  .overflow-hidden-device {
    overflow: hidden !important;
  }

  .a-left-device {
    text-align: left !important;
  }
  .a-right-device {
    text-align: right !important;
  }
  .a-center-device {
    text-align: center !important;
  }

  .alignwide-device {
    width: 100% !important;
  }
  .alignfull-device {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
  }

  /* HEADER */
  .header-menu .tools {
    font-size: var(--font-size-body);
  }
  .header-menu .panel {
    opacity: 0;
    text-align: center;
  }
  html.header-menu-enabled .header-menu .panel {
    opacity: 1;
  }
  html.navigation-enabled .header-menu .panel {
    padding-top: calc(var(--header-height) + var(--navigation-height));
  }
  .header-menu .menu {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-heading);
  }
  .header-menu .menu li > a {
    --icon-size: 40px;
    --icon-font-size: 14px;
  }

  /* NAVIGATION */
  #navigation {
    --rgb: var(--color-black-rgb);
    --rgb-couple: var(--color-white-rgb);
    color: rgba(var(--rgb), 1);
    background: rgba(var(--rgb-couple), 1);
    width: 100%;
    top: var(--header-height);
    transition: opacity var(--duration-x2) var(--timing-function);
  }
  html:not(.header-menu-enabled) #navigation:not(.always) {
    opacity: 0 !important;
    pointer-events: none !important;
  }
  html:not(.header-menu-enabled) #navigation:not(.always) * {
    pointer-events: none !important;
  }

  html:is(.header-menu-enabled) #navigation {
    z-index: 100;
    background: none;
  }

  /* BRAND */
  .brand-nav ul > li {
    margin-right: var(--spacing-3xs);
  }
}

@media (max-width: 991px) {
  .sc-container + .sc-container,
  *:is(.sc-container, .sc-group, .sc-column, .sc-content, .sc-sidebar, .sc-main)
    > *:not(:first-child) {
    margin-top: var(--spacing-sm);
  }

  .sc-inner {
    padding-top: var(--sc-spacing-y-resize);
  }

  .hidden-device-sm {
    display: none !important;
  }
  .hidden-device-sm:first-child + *:not(:first-child) {
    margin-top: 0 !important;
  }
  .overflow-hidden-device-sm {
    overflow: hidden !important;
  }

  .a-left-device-sm {
    text-align: left !important;
  }
  .a-right-device-sm {
    text-align: right !important;
  }
  .a-center-device-sm {
    text-align: center !important;
  }

  .alignwide-device-sm {
    width: 100% !important;
  }
  .alignfull-device-sm {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
  }

  .product-content {
    flex-direction: column;
    gap: var(--spacing-md);
    width: 60%;
  }

  .product-content-text {
    gap: var(--spacing-3xs);
  }

  .product-content-image {
    width: 40%;
    height: auto;
  }

  /* BRAND SINGLE */
  .brand-single-logo {
    max-height: 85px;
  }

  .swiper-wrapper.brand-single {
    padding: 0;
  }

  .swiper-slide.brand-single {
    width: 90% !important;
    padding: 0 min(2.5vw, 35px);
  }

  .product-card {
    h2 {
      font-size: 34px;
      margin-top: var(--spacing-md);
      margin-bottom: var(--spacing-xs);
    }
  }

  /* NEW PRODUCT */
  .new-products {
    .swiper-slide.rounded {
      width: 90% !important;

      .new-product-wrapper {
        img,
        video {
          aspect-ratio: 1 / 1;
          object-position: center;
        }

        .new-product-text {
          padding-top: var(--spacing-md);
          width: 100%;
          position: static;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: var(--color-theme);

          .description {
            color: var(--color-black);
            width: 80%;
            text-align: center;
          }
        }
      }
    }
  }

  /* ABOUT */
  .swiper-slide.content-slide {
    flex-direction: column-reverse;
    justify-content: start;
    gap: var(--spacing-sm);
    width: 100% !important;
  }

  .sc-about {
    height: calc(100vh - var(--header-height) - var(--footer-height));

    .sc-inner {
      height: 100%;

      .prev-button,
      .next-button {
        display: none;
      }

      .sc-about::-webkit-scrollbar,
      .sc-about::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      .about {
        height: 100%;
        padding: 0 var(--spacing-sm);

        h1 {
          font-size: 44px;
        }

        .tab {
          padding: var(--spacing-sm);
        }

        .years {
          max-width: 100vw;
          width: calc(100% + (2 * var(--spacing-sm)));
          padding: 0 var(--spacing-sm);
          margin: 0 calc(-1 * var(--spacing-sm));
        }

        .content {
          height: 100%;
          width: 100%;
          margin-top: var(--spacing-sm);
          flex: 1;
          overflow-y: auto;
          padding-bottom: var(--spacing-xl);
          mask-image: linear-gradient(
            0deg,
            transparent 0%,
            white calc(var(--spacing-xl) * 2)
          );

          .content-text {
            position: static;
            padding-right: 0;
            width: 100%;
            padding-bottom: 0;
            mask-image: none;
          }

          .content-image {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  /* NEWS */
  .sc-news {
    .news-heading {
      margin: var(--spacing-md) 0;
    }
    .news-swiper {
      .swiper-slide.news {
        max-width: 1250px;
        width: 80% !important;
        min-height: 65vh;

        .news-card {
          height: 100%;
          position: relative;

          .news-header {
            padding: 7.5% 5%;
            gap: var(--spacing-3xs);

            .news-title {
              font-size: 30px;
              -webkit-line-clamp: 3;

              .news-description {
                font-size: 22px;
                -webkit-line-clamp: 4;
              }
            }
          }
          .explore {
            display: flex;
            position: absolute;
            bottom: 5%;
            left: 5%;
          }
        }

        .news-card:hover {
          box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.26);
          transition: all 0.5s var(--timing-function);

          .news-main-image {
            transform: scale(1.05);
            transition: all 0.5s var(--timing-function);
          }
        }
      }
    }
  }

  /* NEWS-SINGLE */
  .sc-news-single {
    .sc-inner {
      height: calc(100vh - var(--header-height) - var(--footer-height));

      .news-single {
        width: 100vw;
        height: 100%;
        gap: 0;
        justify-content: unset;

        .news-socials {
          .social-icon::before {
            padding: 0;
            font-size: var(--font-size-xl);
          }
        }

        .header {
          grid-auto-flow: dense;
          padding-top: var(--spacing-md);
          padding: 0 5vw;
        }
        .header > .date {
          grid-column: 1;
        }
        /* .header > .news-title {
        grid-column: 1 / span 2;
      } */
        .header > .news-socials {
          grid-column: 2;
        }

        .separator {
          display: none;
        }

        .news-content {
          height: 100%;
          overflow-y: auto;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: start;
          gap: var(--spacing-sm);
          position: static;

          .next-button,
          .prev-button {
            display: block;
          }

          .news-gallery {
            width: 100%;
            height: fit-content;
            gap: 0;

            .swiper.thumb {
              .swiper-slide.news-main-image {
                padding: 0 5vw;

                .main-image {
                  border-radius: var(--spacing-xs);
                  overflow: hidden;
                }
              }
            }

            .swiper.thumbnail {
              display: none;
            }
          }

          .entry-content {
            position: static;
            padding: 0 5vw;
            padding-bottom: var(--spacing-xl);
            margin-bottom: var(--footer-height);
            width: 100%;
            height: auto;
            overflow: unset;
          }
        }

        .news-button-footer {
          position: fixed;
          bottom: var(--footer-height);
          left: 5vw;
          width: 90vw;
          gap: 0;

          .white-gradient {
            display: block;
            width: 100%;
            height: var(--spacing-xl);
            background-image: linear-gradient(
              180deg,
              transparent 0%,
              white var(--spacing-xl)
            );
          }

          .buttons {
            background-color: white;
            padding-top: var(--spacing-container);
            border-top: 1px solid rgba(0, 0, 0, 0.26);
            width: 100%;
          }
        }
      }
    }
  }

  /* CONTACT */
  .contact {
    .next-button {
      right: 2.5%;
      top: 20%;
    }

    .prev-button {
      left: 2.5%;
      top: 20%;
    }

    .swiper-slide.contact-card {
      width: 90% !important;

      .contact-image {
        border-radius: var(--spacing-xs);
      }

      h2 {
        font-size: 30px;
      }

      .contact-info-lists {
        gap: var(--spacing-xs);

        .contact-info-list {
          font-size: 22px;
        }
      }
    }
  }

  /* CAREER */
  .career {
    .career-cta {
      z-index: 1;
      width: calc(100vw - 2 * var(--spacing-container));
      justify-content: center;
      display: flex;
      flex-direction: column;
      position: fixed;
      bottom: var(--footer-height);
      left: var(--spacing-container);

      .white-gradient {
        width: 100%;
        height: var(--spacing-xl);
        background-image: linear-gradient(
          180deg,
          transparent 0%,
          white var(--spacing-xl)
        );
      }

      .explore {
        width: 100%;
        background-color: var(--color-white);
        border-top: 1px solid rgba(0, 0, 0, 0.26);
        padding: var(--spacing-container) 0;
      }
    }

    h1 {
      font-size: 44px;
    }

    .swiper.thumbnail {
      &.career-tabs {
        width: calc(100% + 2 * var(--spacing-container));
        mask-image: linear-gradient(
          90deg,
          transparent 0%,
          white calc(var(--spacing-container) * 2),
          white calc(100% - var(--spacing-container) * 2),
          transparent 100%
        );
        padding: 0 var(--spacing-container);
        margin: 0 calc(-1 * var(--spacing-container));
      }

      &.career-tabs:after {
        width: calc(100vw - 2 * var(--spacing-container));
        margin: 0 auto;
      }
    }

    .swiper.thumb {
      .swiper-slide {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-sm);

        .gallery {
          width: 100%;

          .swiper-slide {
            img {
              width: 95%;
            }
          }

          .next-button {
            right: 1%;
          }

          .prev-button {
            left: 1%;
          }
        }

        .content {
          width: 100%;
          padding-bottom: calc(
            var(--spacing-xl) + 4 * var(--spacing-container)
          );
        }

        .explore {
          display: none;
        }
      }
    }
  }

  /* CAREER-APPLY */
  .sc-career-apply {
    .sc-inner {
      height: calc(100vh - var(--header-height) - var(--footer-height));

      .career-apply {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 44px;
        }

        .apply-form {
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: var(--spacing-sm);
          flex: 1;
          overflow-y: auto;

          .swiper-container {
            padding: 0 var(--spacing-container);
            width: 100%;
            .swiper.gallery {
              width: 100%;
              height: fit-content;

              .next-button {
                right: 1.5%;
              }

              .prev-button {
                left: 1.5%;
              }
            }
          }

          form {
            width: 100%;
            padding: 0;
            padding: 0 var(--spacing-container);

            .fields {
              .tel-and-email {
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }

  /* FOOTER */
  .footer-legal {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-legal .policy {
    justify-content: center;
  }

  /* SECTION */
  #main {
    --ci-background: 33.3333333333vw;
  }

  .sc-brands .sc-banner .object-fit:before {
    padding-bottom: 138.9743589744%;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
  .hidden-mobile:first-child + *:not(:first-child) {
    margin-top: 0 !important;
  }
  .overflow-hidden-mobile {
    overflow: hidden !important;
  }

  .a-left-mobile {
    text-align: left !important;
  }
  .a-right-mobile {
    text-align: right !important;
  }
  .a-center-mobile {
    text-align: center !important;
  }

  .alignwide-mobile {
    width: 100% !important;
  }
  .alignfull-mobile {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
  }

  :root {
    --font-size-h6: 22px;
    --font-size-h5: 26px;
    --font-size-h4: 30px;
    --font-size-h3: 34px;
    --font-size-h2: 36px;
    --font-size-h1: 44px;

    --spacing-container: var(--spacing-xs);

    --hamburger-gap: 7px;
    --logo-height: 40px;
    --header-nav-height: 50px;
    --navigation-height: 70px;
  }
}

@media (max-width: 575px) {
  .hidden-mobile-sm {
    display: none !important;
  }
  .hidden-mobile-sm:first-child + *:not(:first-child) {
    margin-top: 0 !important;
  }
  .overflow-hidden-mobile-sm {
    overflow: hidden !important;
  }

  .a-left-mobile-sm {
    text-align: left !important;
  }
  .a-right-mobile-sm {
    text-align: right !important;
  }
  .a-center-mobile-sm {
    text-align: center !important;
  }

  .alignwide-mobile-sm {
    width: 100% !important;
  }
  .alignfull-mobile-sm {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
  }

  .swiper-slide.fit {
    width: 90% !important;
  }
}

@media (max-width: 390px) {
  :root {
    --font-size-h6: 5.6vw;
    --font-size-h5: 26px;
    --font-size-h4: 30px;
    --font-size-h3: 34px;
    --font-size-h2: 36px;
    --font-size-h1: 11.2820512821vw;
  }
}
